@import 'https://fonts.googleapis.com/css?family=Roboto';
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
#wrapper{
    top:0px;
}
.no-padding{
    padding: 0px;
}
.menu-icon-wrapper:active{
    color: white;
}
.menu-icon-wrapper{
    background: white;
    margin: 10px;
    position: fixed;
    z-index: 999;
    color: black;
}
#toggle-animation{
    position: relative;
}
#menu-collapse{
    position: relative;
}
.menu-icon {
    font-size: 1.6rem;
    line-height: 50px;
}

#menu {
    position: fixed;
    z-index: 9999;
    background: white;
    display: none;
    width: 300px;
    height: 100%;
}
#menu-list {
    overflow: auto;
    max-height: calc(100% - 72px);
    padding: 0px;
    margin:  0px;
    list-style-type: none;
    border-top: 5px solid;
}
.inner-list{
    display: none;
    list-style-type: circle;
}
.inner-list-arrow {
    float: right;
}
.inner-list-arrow.active {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    transition-duration: 100ms;
    -webkit-transition-duration: 100ms; /* Safari */
}
#menu ul li a{
    display: block;
    padding: 15px;
    color: black;
}
#menu ul li a:hover,#menu ul li a.active{
    color: white;
}
[data-color="basic-info"] li a:hover, [data-color="basic-info"] li a.active{
    background-color: #1E88E5;
}
[data-color="skills"] li a:hover, [data-color="skills"] li a.active{
    background-color: #3949AB;
}
[data-color="projects"] li a:hover,[data-color="projects"] li a.active{
    background-color: #8E24AA;
}
[data-color="hobbies"] li a:hover,[data-color="hobbies"] li a.active{
    background-color: #E53935;
}
[data-color="contacts"] li a:hover,[data-color="contacts"] li a.active{
    background-color: #F4511E;
}
[data-color="basic-info"] #menu-list{
    border-color: #1565C0 !important;
}
[data-color="skills"] #menu-list{
    border-color: #283593 !important;
}
[data-color="projects"] #menu-list{
    border-color: #6A1B9A !important;
}
[data-color="hobbies"] #menu-list{
    border-color: #C62828 !important;
}
[data-color="contacts"] #menu-list{
    border-color: #D84315 !important;
}
.container{
    color: white;
    /*height: 100%;*/
    padding:20px;
}
.center{
    margin: 0px auto;
    max-width: 1000px;
}
.picture-container img {
    border-radius: 50%;
    border: 10px solid;
    width: 25vw;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: inherit;
}
.picture-container{
    vertical-align: top;
    text-align: center;
    width: 30vw;
    display: inline-block;
}
.bubbles{
    margin: auto 0px;
    vertical-align: bottom;
    list-style-type: none;
    padding: 0px;
    height: 300px;
    display: inline-block;
}
.bubble {
    margin-top: 20px;
    background: white;
    padding: 20px;
    color: black;
    width:35vw;
    /*word-break: break-all;*/
    border-top: 4px solid;
    border-radius: 1%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.bubble > p {
    margin: 0px;
    margin-top: 5px;
}
.bubble > h3{
    margin: 0px;
    border-bottom: 1px solid;
    border-color: inherit;
}

.contacts span {
    line-height: 40px;
    vertical-align: text-bottom;
    padding-left: 10px;
}
.left-container{
    margin-left: 10px;
}
.right-container {
    display:flex;
    margin-right: 10px;
}
.right-container .bubbles {
    position: relative;
    margin-right: 10px;
    order: 1;
}
.left-container .bubbles {
    position: relative;
    margin-left: 10px;
}
.left-container .bubble{
    border-left: 4px solid;
}
.right-container .bubble{
    border-right: 4px solid;
}
.right-container .picture-container {
    order: 2;
}

.bubble:before {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: white;
}
.left-container .bubble:before{
    margin-left: -32px;
    /*left: -15px;*/
    border-bottom: 4px solid;
    border-left: 4px solid;
    border-color: inherit;
}
.right-container .bubble:before{
    right: -12px;
    border-top: 4px solid;
    border-right: 4px solid;
    border-color: inherit;
}
a{
    text-decoration: none;
}
[data-anchor="basic-info"] .container .bubble,[data-anchor="basic-info"] .container img{
    border-color: #64B5F6;
}
[data-anchor="basic-info"] a{
    color: #2196F3;
}
[data-anchor="basic-info"] a:hover{
    color: #64B5F6;
}

[data-anchor="projects"] .container .bubble,[data-anchor="projects"] .container img{
    border-color: #CE93D8;
}
[data-anchor="projects"] a{
    color: #9C27B0;
}
[data-anchor="projects"] a:hover{
    color: #CE93D8;
}

[data-anchor="hobbies"] .container .bubble,[data-anchor="hobbies"] .container img{
    border-color: #E57373;
}
[data-anchor="hobbies"] a{
    color: #F44336;
}
[data-anchor="hobbies"] a:hover{
    color: #E57373;
}

[data-anchor="skills"] .container .bubble,[data-anchor="skills"] .container img{
    border-color: #7986CB;
}
[data-anchor="skills"] a{
    color: #3F51B5;
}
[data-anchor="skills"] a:hover{
    color: #7986CB;
}

[data-anchor="contacts"] .container .bubble,[data-anchor="contacts"] .container img{
    border-color:  #FF8A65;
}
[data-anchor="contacts"] a{
    color: #FF5722;
}
[data-anchor="contacts"] a:hover{
    color: #FF8A65;
}
.animation, .picture-container{
    visibility: hidden;
}
@media (min-width: 1350px) {
    .bubble{
        width: 500px;
    }
    .picture-container {
        width: 370px;
    }
    .picture-container img {
        width: 350px;
    }
}
@media (max-width: 1100px) {
    .bubble{
        width: 50vw;
    }
}
@media (max-width: 540px) {
    .fp-tableCell{
        vertical-align: top !important;
    }
    #menu-slide-in{
        margin: 5px;
    }

    .picture-container {
        width: 85vw;
    }
    .picture-container img {
        width: 35vw;
    }
    .bubbles {
        margin: 0px !important;
    }
    .bubble{
        width: 75vw;
    }
    .bubble p{
        font-size: 14px;
    }
    .left-container .bubble:before,.right-container .bubble:before{
        margin-left: 34vw;
        margin-top: -33px;
        border: none;
        border-top: 4px solid;
        border-left: 4px solid;
        border-color: inherit;
    }
    .right-container .bubble:before{
        margin-right: 44vw;
        margin-top: -32px;
    }
    .right-container {
        flex-flow: column;
        padding: 0px 25px !important;
    }
    .left-container {
        padding: 0px 12px !important;
    }
    .right-container .picture-container {
        order: inherit;
    }
    .right-container .bubbles {
        order: inherit;
    }
    .waves-circle {
        width: 2em !important;
        height: 2em !important;
        line-height: 2.5em !important;
    }
    .menu-icon {
        font-size: 1.3rem;
        line-height: 30px
    }
}


/**** ANIMATIONS  */

@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

@keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        -ms-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -ms-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}

.bounceOut {
    -webkit-animation-name: bounceOut;
    animation-name: bounceOut;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}


@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -ms-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        -ms-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        -ms-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        -ms-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#contacts {
    padding: 0px;
}
#contacts li {
    display: inline-block;
    padding:10px;
}